.home{
    background-image: url(../images/h_img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 660px;
    padding-top: 10%;
    text-align: center;
}
.mouse {
    padding-top: 13%;
}
#about {
    text-align: center;
}
#services{
text-align: center;
background-image: url(../images/s_image.jpg);
color: white;
height: 300px;
padding-top:100px ;
background-size: cover;
}
#work{
    text-align: center;
}
#hide{
    display: none;
}
#portfolio .container .row img{
    width: 100%;
}
#devhide{
    display: none;
}
#pmhide {
    display: none;
}